@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


#header {
  padding-top: 20px;
  background-color: #eee;
}

.logo{ 
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.logo h1 { /* 丸とフォントのスタイリング */
  margin: 0;
  padding-top: 38px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 26px;
  color: #7E7E7E;
  background-color: #fff;
}

/*  nav
/*--------------------------------- */
.navbar {
  border-radius: 0;
}

.navbar-nav {
  float: none;
  width: 400px;
  margin: 10px auto;
}

.navbar-nav > li {
  text-align: center;
  float: left;
  width: 80px;
  border-right: 1px solid #555;
}
.navbar-nav > li.first {
  border-left: 1px solid #555;
}

.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ------------------------------------- */
.title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.text-box{
  margin-bottom: 40px;
}

/*  panel-box
/*--------------------------------- */
.panel {
  width:250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #f7f2f2;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.panel-body {
  text-align: center;
  height: 180px;
  padding-top: 10px;
  color: #F7ECEC;
  font-size: 18px;
}

.panel-footer {
  text-align: center;
  height:100px;
  padding: 18px 15px;
  background-color: #7E7E7E;
  border-top: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.panel-footer > ul {
 -webkit-padding-start: 0px;
  list-style: none;
}                  

/*  button-box
/*--------------------------------- */
.button-box{
  text-align: center;
  padding: 60px 0;
  margin-top: 40px;
  background-color: #eee;
}

.button-box p{
  color: #888;
}

.btn {
  padding: 12px 80px;
}

.button-box .btn-default{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #7E7E7E;
}               

