@import "bootstrap";
/* universal */

html {
  #  overflow-y: scroll;
}

h1 {
  padding: 2px 30px 0px 4px;
  margin-top: 1px;
  font-size: 122%;
  font-weight: bold;
  line-height: 120%;
}

.description h2{
  padding:2px 10px 0px 20px;
  margin-top: 5px;
  font-size: 100%;
}
body {
  padding: 60px 0 0; 
  background-image: image-url("bgimg.png");
  background-repeat: repeat;
}

hr{
  border:none;
  border-top:dotted 1px #CCC;
  height:1px;
  color:#FFFFFF;
  margin: 0 6 0 6;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.pricebox > tbody > tr > td {
  vertical-align: middle;
}

.vcenter {
  vertical-align: middle;
  margin-top: 60px;
}

#header {
  padding-top: 5px;
  background-color: #FE3800;
}

.logo{
  width: 1020px;
  margin: 0 auto;
  position: relative; 
}

.logo h1 { /* 丸とフォントのスタイリング */
  margin: 0;
  padding-top: 10px;
  width: 100px;
  height: 40px;
  font-size: 26px;
  color: #FFF;
}
.row {
  margin-top: 40px; 
  margin-bottom: 20px; 
}

/* header
/*--------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #FE3800;
  z-index: 100;
}


.header .wrap > h1 {
  position: absolute;
  top: 15px;
  left: 0;
}

.header nav {
  position: absolute;
  top: 0;
  left: 275px;
  width: 745px;
  height: 50px;
}

.header nav > ul > li {
  display: inline-block;
  height: 50px;
  margin: 0 10px 0 0;
}

.header nav > ul > li.news > a,
.header nav > ul > li.more > a {
  padding-right: 25px;
  background: url(img/header/more-icon.png) no-repeat 90% 22px;
}

.header nav > ul > li > a {
  padding: 0 10px;
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 50px;
}

.header nav > ul > li > a img {
  vertical-align: middle;
}

.header nav > ul > li > a:hover {
  color: #FFFFFF !important;
  background-color: #000000;
}
/* ------------------------------------- */
.title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.text-box{
  margin-bottom: 40px;
}

/*  panel-box
/*--------------------------------- */
.panel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.panel-body {
  text-align: center;
  height: 150px;
  padding-top: 10px;
  color: #F7ECEC;
  font-size: 18px;
}

.panel-footer {
  text-align: center;
  height:100px;
  padding: 18px 15px;
  border-top: none;
  background-color: #fff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 12px;
  font-weight: bold;
}
.panel-footer > ul {
  -webkit-padding-start: 0px;
  list-style: none;
}                  

.panel-price{
  font-size: 18px;
  color:#FF0000 ;
}
/*  button-box
/*--------------------------------- */
.button-box{
  text-align: center;
  padding: 60px 0;
  margin-top: 40px;
  background-color: #eee;
}

.button-box p{
  color: #888;
}

.btn {
  width: auto;
}

.button-box .btn-default{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #7E7E7E;
}               

.product h1 {
  border-bottom: 0 none;
  color: #FE3800;
  font-size: 167%;
  padding: 0;
  margin-bottom: 0;
}

.product ul{
  list-style: none;
  padding: 0 ;
}

.product hr{
  margin-top: 5px ;
  margin-bottom: 10px ;
}
.product_price{
  font: bold 22px Arial, Helvetica, sans-serif;
  color: #333;
}
.left-menu{
  padding-left: 10px;
  margin-top:79px;
  padding-bottom:20px;
  background-color: #FFF;
}

.left-menu ul{
  padding-left: 5px;
  margin-bottom: 2px;
  list-style: none;
}
.left-menu h3 > a {
  font: bold 18px Arial, Helvetica, sans-serif;
  color: #333;
}

.top-menu{
  padding-left: 10px;
  padding-bottom: 20px;
  background-color: #FFF;
}

.top-menu ul{
  padding-left: 5px;
  margin-bottom: 2px;
  list-style: none;
}

.top-menu h3 > a {
  font: bold 18px Arial, Helvetica, sans-serif;
  color: #333;
}
.spec tbody > tr > th, td{
  padding:5px;
}

.spec{
  margin-top: 30px;
}
